In [1]:
import csv

In [6]:
f = open('sample.csv')
r = csv.reader(f)
for i in r:
    print(i)
print('Reading again')
for i in r: 
    print(i)

['Name', 'Age', 'Gender']
['A', '23', 'F']
['B', '24', 'M']
Reading again

In [7]:
f = open('sample.csv')
r = csv.reader(f, delimiter = '|')
for i in r:
    print(i)

['Name', 'Age', 'Gender']
['A', '23', 'F']
['B', '24', 'M']

In [9]:
f = open('sample.csv')
dr = list(csv.DictReader(f, delimiter = '|'))
for i in dr:
    print(i)

{'Name': 'A', 'Age': '23', 'Gender': 'F'}
{'Name': 'B', 'Age': '24', 'Gender': 'M'}

In [2]:
l = [['Name', 'Age', 'Gender'], ['A', 23, 'F'], ['B', 23, 'M']]
with open('a.csv', 'w') as f:
    w = csv.writer(f)
    for row in l:
        w.writerow(row)

In [3]:
l = [{'Name':'A', 'Age':23, 'Gender':'F'}, 
    {'Name': 'B', 'Age':24, 'Gender':'M'}]
fn = ['Name', 'Age', 'Gender']
with open('b.csv', 'w') as f:
    dw = csv.DictWriter(f, fieldnames = fn)
    dw.writeheader() # Writes the fieldnames
    dw.writerows(l)

In [5]:
import pandas as pd

In [8]:
df = pd.read_csv('c.csv')
df

  Name Hire Date  Salary  Sick Days Remaining
0   GC  03/15/14   50000                   10
1   JC  06/01/15   65000                    8
2   EI  05/12/14   45000                   10
3   TJ  11/01/13   70000                    3

In [11]:
df = pd.read_csv('c.csv', 
     names = ['Initials', 'DOJ', 'Basic', 'Leaves'])
df

  Initials        DOJ   Basic               Leaves
0     Name  Hire Date  Salary  Sick Days Remaining
1       GC   03/15/14   50000                   10
2       JC   06/01/15   65000                    8
3       EI   05/12/14   45000                   10
4       TJ   11/01/13   70000                    3