EXCEPTION HANDLING

In [1]:
a=input('Enter Number: ')
print(f"Multiplication Table of {a} is: ")

try:
    for i in range(1,11):
        print(f'{int(a)} X {i} = {int(a) * i}')

except:
    print("Please Enter a valid integer number")

print(f"Multiplication table of {a} is printed Siccessfully")

Multiplication Table of 5 is:
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Multiplication table of 5 is printed Siccessfully

SYNTAX ERROR

In [16]:
if=a
print(if)

SyntaxError: invalid syntax (3111197311.py, line 1)

In [17]:
x=12
if x=10:
    print("Hello")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2589332572.py, line 2)

In [2]:
x=10
if x==10
print("Equal")

SyntaxError: expected ':' (2198451679.py, line 2)

In [20]:
print('Hello'

SyntaxError: incomplete input (1103635973.py, line 1)

In [21]:
if 10 > 5
    print("Hello")

SyntaxError: expected ':' (3943379577.py, line 1)

In [22]:
print('Hello)

SyntaxError: unterminated string literal (detected at line 1) (1679058590.py, line 1)

In [29]:
for i in range(10)
    print(i)

SyntaxError: expected ':' (2733300111.py, line 1)

LOGICAL ERROR

In [25]:
a=input()
b=input()
print(a+b)

1020

In [24]:
a=int(input())
b=int(input())
print(a+b)

30

In [28]:
for i in range (1,5):
    print(f'{i} * {i} = {i}')

1 * 1 = 1
2 * 2 = 2
3 * 3 = 3
4 * 4 = 4

RUNTIME ERROR

In [31]:
10/0

ZeroDivisionError: division by zero

NAME ERROR

In [ ]:
NameError.__mro__

(NameError, Exception, BaseException, object)

In [41]:
print(z)
print(100)

NameError: name 'z' is not defined

In [42]:
a=5
print(A)

NameError: name 'A' is not defined

In [43]:
class A:
    def foo(s): pass
foo()

NameError: name 'foo' is not defined

In [44]:
print('ABC')
prnt

ABC

NameError: name 'prnt' is not defined

VALUE ERROR

In [12]:
l=[1,2,3,4]
print(l.index(5))

ValueError: 5 is not in list

INDEX ERROR

In [13]:
l=[1,2,3,4]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])

1
2
3
4

IndexError: list index out of range

In [ ]:
l=[1,2,3,4]
print(l[-1])
print(l[-2])
print(l[-3])
print(l[-4])
print(l[-5])

4
3
2
1

IndexError: list index out of range

In [ ]:
l=[1,2,3,4]
print(l[-5])

IndexError: list index out of range

In [ ]:
s='abcd'
print(s[-len(s)])

a

In [ ]:
s='abcd'
print(s[-len(s)-1])

IndexError: string index out of range

In [45]:
l=[1,2,3]
print(l[3])

IndexError: list index out of range

In [46]:
l=[1,2,3]
print(l[-4])

IndexError: list index out of range

TYPE ERROR

In [ ]:
b= 1+'a'
print(b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
'a'==97

False

In [ ]:
'a' + 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
1 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
def foo(): return 'AB'
foo(a)

TypeError: foo() takes 0 positional arguments but 1 was given

In [ ]:
def foo(a, b): return a + b
foo(1, 'a')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
n=(3.14)
print(n)
n=5
for i in n:
    pass

3.14

TypeError: 'int' object is not iterable

KEY ERROR

In [ ]:
d={1:1, 2:4}
print(d[3])

KeyError: 3

In [ ]:
a={}
print(a[1])

KeyError: 1

ZERO DIVISION ERROR

In [ ]:
print(5/0)

ZeroDivisionError: division by zero

ATTRIBUTE ERROR

In [ ]:
mystr="Hello World"
mystr.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [ ]:
class A:
    def __init__(s,a):
        s.a=a
a1=A(10)
print(a1.b)

AttributeError: 'A' object has no attribute 'b'

Floating point Error

In [1]:
print(1.2-1.0)

0.19999999999999996

KEYBOARD INTERRUPT ERROR

In [14]:
import time
for i in range(10000):
    print('.', end="", flush=True)
    time.sleep(10)

...

KeyboardInterrupt:

RAISE KEYWORD

In [15]:
try:
    age=int(input("Enter your age: "))
    print(f'age is {age}')
    if(age<0):
        raise ValueError("Invalid age")
    print("Your age is: ",age)
    
except ValueError as var:
    print(var)

print("End of code")

age is -1
Invalid age
End of code

TRY EXCEPT EXCEPTION

In [3]:
a=input()
b=input()
try:
    print("The sum of 2 numbers is:", int(a)+int(b))
    print(a,b)
except Exception as e:
    print(e)

print("Addition of 2 numbers is executed successfully")

invalid literal for int() with base 10: '10 sharat'
Addition of 2 numbers is executed successfully

TRY-ELSE BLOCK

In [1]:
try:
    file = open("this.txt", 'r')

except EOFError as e:
    print("EOF Error")

except IOError as e:
    print("We can handle this error")

We can handle this error

TRY-EXCEPT AND FINALLY

In [10]:
try:
    print("I will try this code and will throw excception if there is any problem")

except Exception as e:
    print("I will run only if try block fails")

else:
    print("I will run only if there is no excetion ")

finally:
    print("This will print in every case")

I will try this code and will throw excception if there is any problem
I will run only if there is no excetion
This will print in every case

In [ ]:
class SomeError(Exception):
    pass
try:
    n=int(input())
    if(n<=0):
        raise SomeError
except Exception as e:
    print(type(e))
    print(e)

<class '__main__.SomeError'>

In [17]:
class SomeError(Exception):
    def __init__(self,msg):
        super().__init__(msg)

try:
    n=int(input())
    print(n)
    if(n<=0):
        raise SomeError('Some error happened')
    print(n)
    
except Exception as e:
    print(type(e))
    print(e)

-2
<class '__main__.SomeError'>
Some error happened

In [20]:
from functools import reduce

class NegativeNumError(Exception):
    def __init__(self,msg):
        super().__init__(msg)

try:
    n=int(input())
    print(n)
    if(n<=0): raise NegativeNumError('Negative Number Raised')

    print(reduce(lambda x,y: x*y, range(1, n+1)))

except ValueError as e:
    print(e)

except NegativeNumError as e:
    print(e)
    
except Exception as e:
    print(type(e))
    print(e)

5
120

In [ ]:
f=open('text1.txt')
print(type(f))

<class '_io.TextIOWrapper'>

In [ ]:
dir(f)

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [ ]:
f.mode

'r'

In [ ]:
#read the contents of the file
f.read()

'Just click restart\nRestart the kernal, run that cell, now rearrange'

In [ ]:
f.seek(1)

1

In [ ]:
f.read()

'ust click restart\nRestart the kernal, run that cell, now rearrange'

In [25]:
f=open('f1.txt')
print('mode: '+str(f.mode))
print('mode: '+str(f.name))
print('File is closed: '+str(f.close))

mode: r
mode: f1.txt
File is closed: <built-in method close of _io.TextIOWrapper object at 0x10804e500>

In [24]:
f.seek(0)
f.read()
f.close()

'Driven student seeking opportunities to apply my skills and gain practical\nexperience with a strong academic background and a passion for\nlearning, i am eager to contribute to a dynamic and challenging work\nenvironment . seeking an entry level position to further develop my skills\nand contribute to the success of the organization.\n\nPROJECTS\n(November 05, 2022 Event\nMarch 05, 2023)\nmanagement\nusing vb.net\ntechnology used: visual basic , sql.\nfrontend: vb.net backend: sql\nmember:3 modules: 2\nadmin,employee The event\nmanagement system is a web\nbased application developed in\nwindow platfrom is to automate the\nexisting manual system by the help\nof computerized equipment and\nfulfilling there requirment so that\ntheir valuable data/information can\nbe stored for longer period with\neasy accesing and manipulation of\nthe same.'

In [26]:
len('Line 1\nLine 2')

13

In [29]:
f= open('f2.txt', 'w')
f.write('Line 10 \nLine 20')
f.close
#print(f)

In [32]:
#Copying the content from one file to another file 
f= open('source.txt') 
f2=open('text.txt', 'w')
f2.write(f.read())
f.close()
f2.close()

In [23]:

with open('f1.txt') as f:
    num_words = sum(len(line.split()) for line in f)
    num_chars= (num_words for line in f)
    print(f'Total Number words= {num_words}')
    print(num_chars)

Total Number words= 127
<generator object <genexpr> at 0x10af65e40>

CSV

In [30]:
import csv
f=open('a.csv')
r=csv.reader(f)
print(type(r))
print(r)
f.close()

<class '_csv.reader'>
<_csv.reader object at 0x10aeaf760>

In [1]:
import csv
f= open('a.csv')
r= csv.reader(f,delimiter='|')
for i in r:
    print(r)

<_csv.reader object at 0x104882ff0>
<_csv.reader object at 0x104882ff0>
<_csv.reader object at 0x104882ff0>

In [1]:
import csv
with open('a.csv') as b:
    reader=csv.reader(b,delimiter='|')
    for i in reader:
        print(i)
print(b.closed)

['Name ', 'Age', ' Profession']
['Vishnu ', '24', ' Doctor ']
['Samath ', '22', ' Cleaner']
True

In [3]:
import csv
with open('a.csv') as file:
    d=csv.DictReader(file, delimiter='|')
    for i in d:
        print(i)

{'Name ': 'Vishnu ', 'Age': '24', ' Profession': ' Doctor '}
{'Name ': 'Samath ', 'Age': '22', ' Profession': ' Cleaner'}

In [11]:
import csv
with open('a.csv') as file:
    d=csv.DictReader(file, delimiter='|')
    for i in d:
        print(i)
    print()

    file.seek(0)
    read=file.read()
    index=read.index('\n')

    file.seek(index)
    for i in d:
        print(i)

{'Name ': 'Vishnu ', 'Age': '24', ' Profession': ' Doctor '}
{'Name ': 'Samath ', 'Age': '22', ' Profession': ' Cleaner'}


{'Name ': 'Vishnu ', 'Age': '24', ' Profession': ' Doctor '}
{'Name ': 'Samath ', 'Age': '22', ' Profession': ' Cleaner'}

In [11]:
import csv
with open('a.csv') as file:
    d=csv.DictReader(file, delimiter='|')
    l=list(d)
l

[{'Name , Age, Profession': 'Vishnu, 24, Doctor'},
 {'Name , Age, Profession': 'Samath, 22, Cleaner'}]

In [20]:
import csv
with open('b.csv') as file:
    d=csv.DictReader(file, delimiter='|')
    l=list(d)

l[0]

{'Name ': 'Vishnu ', 'age': '24', 'profession': ' Doctor ', 'gender': None}

In [13]:
import csv
import numpy

l=list(csv.DictReader(open('emp.csv')))

for i in l: print(i); a1, a2=[int(i['Age']) for i in l], [int(i['Salary']) for i in l]
print()
print(max(a1), max(a2))
print(round(numpy.mean(a1),2))
print(round(numpy.mean(a2),2))

'''
with open('emp.csv') as f:
   d=csv.DictReader(f)
   l=list(d)
   
   for i in l: print(i)
   a1 = [int(i['Age']) for i in l] 
   a2 = [int(i['Salary']) for i in l] '''

{'Name': 'P1', 'Age': '25', 'Dept': 'HR', 'Salary': '30000'}
{'Name': 'P2', 'Age': '30', 'Dept': 'Sales', 'Salary': '35000'}
{'Name': 'P3', 'Age': '40', 'Dept': 'Marketing', 'Salary': '70000'}

40 70000
31.67
45000.0

"\nwith open('emp.csv') as f:\n   d=csv.DictReader(f)\n   l=list(d)\n   \n   for i in l: print(i)\n   a1 = [int(i['Age']) for i in l] \n   a2 = [int(i['Salary']) for i in l] "

In [29]:
import csv
l=[['Name','Age'],['ABC','30'],['DEF','25']]
with open('c.csv','w') as f:
    w=csv.writer(f, delimiter='|')
    for i in l:
        w.writerow(i)
#     dw.writerows(l)   BOTH ARE SAME

In [36]:
import csv
l=[{'Name': 'ABC', 'Age':'30'},{'Name': 'DEF', 'Age':'25'}]
with open('d.csv','w') as f:
    dw=csv.DictWriter(f, fieldnames=['Name', 'Age'], delimiter='-')
    dw.writeheader()
    dw.writerows(l)
#     dw.writerows(l) is used to accept multiple rows or multiple dictionaries

In [38]:
import csv
with open('emp1.csv', 'r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)
        
with open('destination.csv', 'w', newline='') as f:
    fieldnames = ['Name', 'Age', 'Basic', 'DA', 'HRA', 'Gross Salary']
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()

    with open('emp1.csv', 'r') as s:
        reader = csv.DictReader(s)
        for row in reader:
            da = float(row['Basic']) * 0.5
            hra = float(row['Basic']) * 0.3
            gross_salary = float(row['Basic']) + da + hra
            writer.writerow({'Name': row['Name'], 'Age': row['Age'], 'Basic': row['Basic'], 'DA': da, 'HRA': hra, 'Gross Salary': gross_salary})
            
with open('destination.csv', 'r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)

{'Name': 'P1', 'Age': '25', 'Basic': '15000'}
{'Name': 'P2', 'Age': '30', 'Basic': '20000'}
{'Name': 'P3', 'Age': '40', 'Basic': '22500'}
{'Name': 'P1', 'Age': '25', 'Basic': '15000', 'DA': '7500.0', 'HRA': '4500.0', 'Gross Salary': '27000.0'}
{'Name': 'P2', 'Age': '30', 'Basic': '20000', 'DA': '10000.0', 'HRA': '6000.0', 'Gross Salary': '36000.0'}
{'Name': 'P3', 'Age': '40', 'Basic': '22500', 'DA': '11250.0', 'HRA': '6750.0', 'Gross Salary': '40500.0'}

PANDAS

In [30]:
import pandas
df=pandas.read_csv('hr.csv')#df is data frame
print(df)
type(df)

  Name  Hire Date   Salary   Sick Days Remaining
0   GC   03/15/14    50000                    10
1   JC   06/01/15    65000                     8
2   EI   05/12/14    45000                    10
3   TJ   11/01/13    70000                     3

pandas.core.frame.DataFrame

In [31]:
for i in df:
    print(df[i][2])#to print entire row

EI   05/12/14    45000                    10

In [37]:
df.iloc

In [38]:
df.iloc[0]

Name  Hire Date   Salary   Sick Days Remaining    GC   03/15/14    50000                    10
Name: 0, dtype: object

In [39]:
df.head(2)

  Name  Hire Date   Salary   Sick Days Remaining
0   GC   03/15/14    50000                    10
1   JC   06/01/15    65000                     8

In [23]:
df.columns

Index(['Name  Hire Date   Salary   Sick Days Remaining'], dtype='object')

In [18]:
len(df)#gives num of rows in data frame

4

In [20]:
for i in df: print(i)

Name  Hire Date   Salary   Sick Days Remaining

JSON

In [3]:
import json
person= '{"name" : "Bob", "languages": ["English", "French"]}'
person_dict=json.loads(person)

person_dict
#person_dict['languages']

{'name': 'Bob', 'languages': ['English', 'French']}

In [5]:
#JSON File Handling

'''
    .json string into dict/list
    .json file into dict/list
    dict/list to json string
    dict/list to .json file'''

'\n    .json string into dict/list\n    .json file into dict/list\n    dict/list to json string\n    dict/list to .json file'

In [4]:
import json
l= {'id':101, 'name': 'ABC'}, {'id':102, 'name': 'DEF'}, {'id':'103', 'name': 'GHI'}

s=str(l)
s

"({'id': 101, 'name': 'ABC'}, {'id': 102, 'name': 'DEF'}, {'id': '103', 'name': 'GHI'})"

In [5]:
import json
person = '{"name": "Bob", "languages": ["English", "French"]}'
a_dict = json.loads(person)

a_dict

{'name': 'Bob', 'languages': ['English', 'French']}

In [22]:
import json
with open('c.json', 'r') as f:
    data=json.load(f)
data

[{'name': 'John Doe', 'id': 1},
 {'name': 'Jane Smith', 'id': 2},
 {'name': 'Bob Johnson', 'id': 3}]

DUMP: WRITE JSON TO A FILE IN PYTHON

In [9]:
import json
a={'Name':'Lupin',  
   'Languages':['English', 'French'],   
   'Married':True,
   'Age':32}

with open('name.txt','w') as b:
    json.dump(a,b)

print(a)
print(b)

{'Name': 'Lupin', 'Languages': ['English', 'French'], 'Married': True, 'Age': 32}
<_io.TextIOWrapper name='name.txt' mode='w' encoding='utf-8'>

DUMPS: CONVERT THE DICTIONARY TO JSON

In [49]:
json_str=json.dumps(s, indent=2)
with open('a.json', 'w') as f:
    f.write(json_str)

f

In [51]:
import json
a={'name':'Lupin',  'Age':33,   'Children':None}
b=json.dumps(a)
print(b)

{"name": "Lupin", "Age": 33, "Children": null}

LOAD:

LOADS:

In [ ]:
import json
with open("emp.json", 'r') as file:

PICKLE

In [1]:
import pickle as p
data={
    'name': 'ABC',
    'age': 40,
    'city': 'New London'
}

s_data=p.dumps(data)
with open('s_data.pkl', 'wb') as file:
    file.write(s_data)

XML: EXTENSIVE MARKUP LANGUAGE

In [11]:
import xml.etree.ElementTree as xml
tree=xml.ElementTree(file='myfile.xml')
root=tree.getroot()

for ch in root:
   # d={}
   # for ele in ch:
   #    d[ele.tag]=ele.text
   d= [{ele.tag:ele.text for ele in ch}]
   print(d)
   #print([{ele.tag:ele.text for ele in ch}])

[{'name': 'A', 'id': '1', 'age': '33'}]
[{'name': 'B', 'id': '2', 'age': '35'}]

Modifying an sml file

In [15]:
for x in root.iter('age'):
    ag=ag+10
    x.text=str(ag)

with open('myfile.xml','wb') as a:
    tree.write(a)

In [1]:
import xml.etree.ElementTree as xml
a=[{"Name":"Ramesh", "Age":22},
   {"Name":"Mahesh", "Age":22}]
root=xml.Element(a)

for i in a:
    child=xml.Element("student")
    root.append(child)

<Element [{'Name': 'Ramesh', 'Age': 22}, {'Name': 'Mahesh', 'Age': 22}] at 0x112cfad90>

## MINI DOM

In [20]:
import xml.dom.minidom as md

l=[{'Name':'A','Age':23},
   {'Name':'B','Age':24}]

doc=md.Document()                           #step1
root=doc.createElement('students')          #step2
doc.appendChild(root)                       #step3
for i in l:
    ch=doc.createElement('std')             #step4
    root.appendChild(ch)                    #step5

    for j in i:
        e=doc.createElement(j)              #step6
        ch.appendChild(e)                   #step7
        
        tn=doc.createTextNode(str(i[j]))    #step8
        e.appendChild(tn)                   #step9

s=doc.toprettyxml(indent='  ')
print(s)
print(doc)
print(root)

<?xml version="1.0" ?>
<students>
  <std>
    <Name>A</Name>
    <Age>23</Age>
  </std>
  <std>
    <Name>B</Name>
    <Age>24</Age>
  </std>
</students>

<xml.dom.minidom.Document object at 0x1079d44d0>
<DOM Element: students at 0x107a41e20>

In [3]:
import xml.dom.minidom as md
l=[ {"Name": "Sharat", "Age": 22},
    {"Name": "Sumukha", "Age": 22}]

doc=md.Document()
root=doc.createElement('PES')
doc.appendChild(root)

for i in l:
    a=doc.createElement('Student')
    root.appendChild(a)

    for j in i:
        b=doc.createElement(j)
        a.appendChild(b)

        tn=doc.createTextNode(str (i[j]))
        b.appendChild(tn)

s=doc.toprettyxml(indent='  ')
print(s)

<?xml version="1.0" ?>
<PES>
  <Student>
    <Name>Sharat</Name>
    <Age>22</Age>
  </Student>
  <Student>
    <Name>Sumukha</Name>
    <Age>22</Age>
  </Student>
</PES>

In [12]:
#Converting the above code in an xml file
with open('d.xml','w') as f:
    f.write(s)

In [48]:
import xml.dom.minidom as a

c = a.parse('students.xml')
root = c.documentElement
students = root.getElementsByTagName('student')

for i in students:
    c = i.getElementsByTagName('name')[0].childNodes[0].data
    d = i.getElementsByTagName('age')[0].childNodes[0].data
    print(f"Name: {c} & Age: {d}")

Name: John & Age: 20
Name: Alice & Age: 22

BS4: Beautiful Soup 4

In [7]:
from bs4 import BeautifulSoup
from lxml import etree

l=[{'name':'sam'},{'age':'10'}]
root=etree.Element('stds')

for i in l:
    ch=etree.SubElement(root,'std')

    for k in i:
        ele=etree.SubElement(ch,k)
        ele.text=str(i[k])
        print(ele.text)

sam
10

In [55]:
from textwrap import indent

xml_string=etree.tostring(root,pretty_print=True,xml_declaration=True)
print(indent(xml_string.decode(), '  '))

  <?xml version='1.0' encoding='ASCII'?>
  <stds>
    <std>
      <name>sam</name>
    </std>
    <std>
      <age>10</age>
    </std>
  </stds>

In [9]:
from bs4 import BeautifulSoup
with open('students_b.xml','r') as file:
    a=file.read()

soup=BeautifulSoup(a,'xml')
s=soup.find_all('name')
print(type(s))
print(s)

<class 'bs4.element.ResultSet'>
[<name>sam</name>]