In [6]:
import json
person= '{"Name":"Sharat", "Language":["English", "Hindi"]}'
b=json.loads(person)
print(b)
print(b['Language'])

{'Name': 'Sharat', 'Language': ['English', 'Hindi']}
['English', 'Hindi']

In [7]:
import json
a={'name':'lupin', 'age':23, 'children':None}
b=json.dumps(a)
b

'{"name": "lupin", "age": 23, "children": null}'

## File handling for text files

In [6]:
f=open('test.txt','w')

In [3]:
f.name

'test.txt'

In [4]:
f.mode

'r'

In [7]:
f.write('My name is sharat rk')

20

In [8]:
f.close()

In [10]:
f.closed

True

In [13]:
f=open('test.txt','r')
s=f.read(10)
s

'My name is'

In [15]:
f.close

In [16]:
f=open('test.txt','r')
f.tell()

0

In [21]:
s=f.read(5)
f.tell()

20

In [22]:
p=f.seek(15)
p

15

In [23]:
s=f.read(10)
s

'at rk'

In [24]:
f.close()

In [25]:
f=open('test.txt','a')
f.tell()

20

In [28]:
f.write('\nIt is nice to learn all the file modes')

39

In [27]:
f.tell()

58

In [29]:
f.close()

In [30]:
f=open('test.txt','r')
s=f.read()
s

'My name is sharat rkIt is nice to learn all the file modes\nIt is nice to learn all the file modes'

## File Handling for CSV FIles

In [35]:
import csv
with open('c.csv','r') as a:
    b=csv.reader(a)
    for i in b:
        print(i)

['Name', 'Age']
['ABC', '30']
['DEF', '25']

In [2]:
import csv
with open('emp.csv','r') as a:
    b=csv.reader(a)
    lc=0
    for i in b:
        if(lc==0):
            print('No data is available')
            lc+=1
        else:
            print(i[0]+" of age "+str(i[1])+" years and works as "+i[2])
            lc+=1

print("Number of lines read is "+str(lc))

No data is available
Sharat of age 25 years and works as HR
Suhas of age 30 years and works as Sales
Samath of age 40 years and works as Marketing
Number of lines read is 4

## Writing a CSV File

In [4]:
import csv
with open('sharat.csv',mode = 'w') as a:
    b=csv.writer(a,delimiter='\t')
    b.writerow(['NAME','DEPARTMENT','YEAR'])
    b.writerow(['ABC', 'Accounting','November'])
    b.writerow(['XYZ', 'HR','December'])

## CSV with PANDAS

In [16]:
import pandas as pd
b=pd.read_csv('hr.csv')
b

  Name  |Hire Date|   Salary|   Sick Days Remaining
0           GC   03/15/14    50000               10
1            JC   06/01/15    65000               8
2           EI   05/12/14    45000               10
3            TJ   11/01/13    70000               3

In [19]:
import pandas as pd

def date_parser(x):
    formats = ['%m/%d/%y', '%m-%d-%y']
    for fmt in formats:
        try:
            return pd.to_datetime(x, format=fmt)
        except ValueError:
            continue
    return pd.NaT

def main():
    try:
        # Read the CSV file without parsing dates initially
        df = pd.read_csv('hr.csv', index_col='Name')

        # Display the column names to check for 'Hire Date'
        print("Columns in CSV:", df.columns)

        # Trim any leading/trailing whitespace from column names
        df.columns = df.columns.str.strip()

        # Check if 'Hire Date' column exists after trimming
        if 'Hire Date' not in df.columns:
            print("The column 'Hire Date' was not found in the CSV file.")
            return

        # Now parse the 'Hire Date' column
        df['Hire Date'] = df['Hire Date'].apply(date_parser)
        
        print(df)
    except FileNotFoundError:
        print("The file 'hr.csv' was not found.")
    except pd.errors.ParserError as e:
        print(f"Parsing error: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")

print(df)

if __name__ == "__main__":
    main()

  Name  |Hire Date|   Salary|   Sick Days Remaining
0      GC   03/15/14    50000                    10
1      JC   06/01/15    65000                     8
2      EI   05/12/14    45000                    10
3      TJ   11/01/13    70000                     3
An error occurred: Index Name invalid

## JSON Files


load: Deserialize JSON content from a file-like object to a Python object.

loads: Deserialize a JSON-formatted string to a Python object.

dump: Serialize a Python object to JSON format and write it to a file-like object.

dumps: Serialize a Python object to a JSON-formatted string.

In [27]:
import json
a='{"Name" : "Sharat","Language" : ["English", "Hindi"]}'
b=json.loads(a)
print(a)
print(b)
print(b['Language'])

{"Name" : "Sharat","Language" : ["English", "Hindi"]}
{'Name': 'Sharat', 'Language': ['English', 'Hindi']}
['English', 'Hindi']

In [1]:
import json
with open('c.json','r') as a:
    b=json.load(a)
b

[{'name': 'John Doe', 'id': 1},
 {'name': 'Jane Smith', 'id': 2},
 {'name': 'Bob Johnson', 'id': 3}]

In [7]:
import json

a={"Name":"Sharat",
   "Age":23,
   "Married":None}
b=json.dumps(a)
print(b)
print(type(a))
print(type(b))

{"Name": "Sharat", "Age": 23, "Married": null}
<class 'dict'>
<class 'str'>

In [13]:
import json
b={"ID": 101, "Name":"Vaibhav", "Gender":"Male"}
with open("b.json",'w') as a:
    json.dump(b,a)
print(type(b))

<class 'dict'>

## XML Files

In [5]:
import xml.etree.ElementTree as xml
tree=xml.ElementTree(file='myfile.xml')
root=tree.getroot()

for i in root:
   d=[{j.tag : j.text for j in i}]
print(d)

[{'name': 'B', 'id': '2', 'age': '105'}]

In [6]:
import xml.etree.ElementTree as xml

tree = xml.ElementTree(file='c.xml')
root = tree.getroot()

for x in root.iter('age'):
    s_id = int(x.text)
    s_id += 1
    x.text = str(s_id)

with open('c.xml', 'wb') as a:
    tree.write(a)

## PICKLE

load: Deserialize a pickled object from a file-like object to a Python object.

loads: Deserialize a pickled byte stream to a Python object.

dump: Serialize a Python object to a pickled format and write it to a file-like object.

dumps: Serialize a Python object to a pickled byte stream.

In [4]:
import pickle as p
a={"name": "sharat",
"age": 25,
"marks": 99
}

b=p.dumps(a)
print(type(a))
print(type(b))
with open('seriallize.pickle','wb') as f:
    f.write(b)

f.close()

<class 'dict'>
<class 'bytes'>

In [6]:
with open('seriallize.pickle','rb') as f:
    c=p.load(f)

print(type(c))
print(c)

<class 'dict'>
{'name': 'sharat', 'age': 25, 'marks': 99}

In [7]:
import pickle as p
l = ['a', 'b', 'c', 1, 2, 3, 4, 5]

with open('listpkl.pkl', 'wb') as b:
    p.dump(l, b)

with open('listpkl.pkl', 'rb') as b:
    l1 = p.load(b)

print(type(l1))
print(l1)

<class 'list'>
['a', 'b', 'c', 1, 2, 3, 4, 5]

In [15]:
import pickle as p
class user:
    def __init__(self,name,email):
        self.name=name
        self.email=email

a=user('Sharat','sharatrk59@gmail.com')

with open('class.pkl','wb') as b:
    p.dump(a,b)

print(type(b))
b.close()

with open('class.pkl','rb') as b:
    c=p.load(b)

print(c.name)
print(c.email)

<class '_io.BufferedWriter'>
Sharat
sharatrk59@gmail.com

In [19]:
import pandas as pd
df=pd.DataFrame({'Name':    ['Sharat','Varun','Sumukha'],
                'Age':  [22,22,22],
                'City': ['Bangalore','Delhi','Bangalore']})
print(type(df))
a=df.to_pickle('data.pkl')
b=pd.read_pickle('data.pkl')
b

<class 'pandas.core.frame.DataFrame'>

      Name  Age       City
0   Sharat   22  Bangalore
1    Varun   22      Delhi
2  Sumukha   22  Bangalore

In [21]:
import pickle as p
def test():
    return 'Hello World'

a=p.dumps(test)
print(type(a))
b= p.loads(a)
print(type(b))
print(b)
b()

<class 'bytes'>
<class 'function'>
<function test at 0x117909300>

'Hello World'

In [6]:
n1 = int(input())
n2 = int(input())
class Add:
    def __init__(self, n1, n2):
        self.num1 = n1
        self.num2 = n2
        self.answer = 0

    def cal(self):
        self.answer = self.num1 + self.num2

    def disp(self):
        print("The sum is:", self.answer)

a = Add(n1, n2)
a.cal()
a.disp()

The sum is: 30

In [4]:
class A:
    def __init__(self):
        print('object creatd')
    
    def __del__(self):
        print('object deleted')

a=A()
del a

object creatd
object deleted
object deleted

In [6]:
def greet(a):
    def b():
        print('GM')
        a()
        print('GN')
    return b

@greet
def hello():
    print("Hello world")

hello()

GM
Hello world
GN

In [13]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b

    def details(self):
        return self.b.getdetails()  # Return the result of self.b.getdetails()

class B:
    def __init__(self, c, d):
        self.c = c
        self.d = d

    def getdetails(self):
        return 'Hi'

b = B(30, 40)  # Create an instance of B
a = A(10, b)   # Create an instance of A with the instance of B
print(a.details())  # This will print 'Hi'

Hi

In [1]:
import xml.etree.ElementTree
tree=xml.ElementTree(file='myfile.xml')
root=tree.getrot()

for i in root:
    d=[{{j.tag: j.text for j in i}}]
print(d)

AttributeError: module 'xml' has no attribute 'ElementTree'

In [3]:
import pickle as p
data={'name':'ABC', 'Age':23}
a=p.dumps(data)
with open('a.pkl', 'wb') as file:
    file.write(a)